<h2>Edit Question</h2>

<form ng-submit="editQuestion.saveQuestion()">
    <label>Question</label>
    <input tabindex="1" ng-model="editQuestion.question.text" placeholder="Your question">

    <label>
        Choices
        <button tabindex="3" class="admin-questions-dialog__choices__add" type="button" ng-click="editQuestion.addChoice()">+</button>
    </label>
    <div class="admin-questions-dialog__choices" ng-repeat="choice in editQuestion.choices">
        <input tabindex="2" ng-model="choice.text" placeholder="Possible choice">
        <button class="admin-questions-dialog__choices__remove" type="button" ng-click="editQuestion.removeChoice($index)">-</button>
    </div>

    <p ng-if="editQuestion.errors" class="admin-questions-dialog__error">
        <span ng-repeat="error in editQuestion.errors">{{ ::error }}</span>
    </p>

    <div class="button-wrapper">
        <a ng-click="editQuestion.close();">Cancel</a>
        <button type="submit">Save</button>
    </div>
</form>
