<h1>Scientifically Valid Survey</h1>

<p>
    <em>
        Please help science by answering the following psuedorandomly selected question
    </em>
</p>

<hr/>

<p class="home__question">
    <strong>
        {{ home.question.text }}
    </strong>
</p>

<form name="answerForm" ng-submit="answerForm.$valid && home.saveAnswer()">
    <div class="home__answer">
        <div ng-repeat="choice in home.question.choices">
            <label for="choice.id">
                <input id="{{ choice.id }}" ng-value="choice.id" type="radio" ng-model="home.answer.choiceId">
                {{ choice.text }}
            </label>
        </div>
        <p ng-if="home.success" class="home__answer__saved">{{ home.success }}</p>
        <p ng-if="home.error" class="home__answer__error">{{ home.error }}</p>

        <div ng-if="home.question.id" class="button-wrapper">
            {{ home.answer | json }}
            <button type="submit">Submit</button>
        </div>
    </div>
</form>

<hr/>

<div class="science-links">
    <a ui-sref="adminQuestions">Questions</a> &amp; <a ui-sref="adminQuestions">Answers</a>
</div>
