<h1>Scientifically Valid Survey</h1>

<p>
    <em>
        Please help science by answering the following psuedorandomly selected question
    </em>
</p>

<hr/>

<p>
    {{ home.question.text }}
</p>

<form name="answerForm" ng-submit="answerForm.$valid && home.saveAnswer()">
    <div class="home__answer">
        <div ng-repeat="choice in home.question.choices">
            <label for="choice.id">{{ choice.text }}</label>
            <input id="{{ choice.id }}"type="radio" ng-model="home.answer.choice">
        </div>
        <p ng-if="home.success" class="home__answer__saved">{{ home.success }}</p>
        <p ng-if="home.error" class="home__answer__error">{{ home.error }}</p>

        <button>Submit</button>
    </div>
</form>

<hr/>

