html,
input,
textarea,
button {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: responsive;
  min-font-size: 23px;
  max-font-size: 23px;
  lower-font-range: 420px;
  upper-font-range: 1280px;
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: responsive;
  min-font-size: 40px;
  max-font-size: 98px;
  lower-font-range: 420px;
  upper-font-range: 1280px;
  color: $colour-heading;
  margin-bottom: 20px;

  text-align: center;
}

p {
  text-align: center;
}

small {
  font-size: responsive;
  min-font-size: 9px;
  max-font-size: 15px;
  lower-font-range: 420px;
  upper-font-range: 1280px;
}

em {
  font-style: italic;
}

a {
  color: $colour-highlight;
  cursor: pointer;
}
