<h1>Questions</h1>

<table ng-table="questions.tableParams" class="table">
    <tr ng-repeat="row in $data">
        <td class="table__container__question" data-title="'Question'" sortable="'text'">
            <p>{{ ::row.text }}</p>
        </td>
        <td class="table__container__choices" data-title="'Choices'">
            <ul>
                <li ng-repeat="choice in row.choices">
                    {{ ::choice.text }}
                </li>
            </ul>
        </td>
        <td class="admin-questions__table__scientific-instruments" data-title="'Scientific instruments'">
            <button ng-click="questions.viewAnswers(row)">Answers</button>
            <button ng-click="questions.editQuestion(row)">Edit</button>
            <a ng-click="questions.removeQuestion(row)">Delete</a>
        </td>
    </tr>
</table>

<p ng-if="questions.error" class="admin-questions__error">
    {{ questions.error }}
</p>

<div class="button-wrapper button-wrapper--bottom-margin">
    <a ui-sref="home">Survey</a>
    <a ng-click="questions.currentUser.logout()">Logout</a>
    <button ng-click="questions.addQuestion()">Add Question</button>
</div>
