<h2>Add New Question</h2>

<form ng-submit="addQuestion.saveQuestion()">
    <label>Question</label>
    <input ng-model="addQuestion.question.text" placeholder="Your question">

    <label>
        Choices
        <button class="admin-questions-dialog__choices__add" type="button" ng-click="addQuestion.addChoice()">+</button>
    </label>
    <div class="admin-questions-dialog__choices" ng-repeat="choice in addQuestion.choices">
        <input ng-model="choice.text" placeholder="Possible choice">
        <button class="admin-questions-dialog__choices__remove" type="button" ng-click="addQuestion.removeChoice($index)">-</button>
    </div>

    <p ng-if="addQuestion.errors" class="admin-questions-dialog__error">
        <span ng-repeat="error in addQuestion.errors">{{ ::error }}</span>
    </p>

    <div class="button-wrapper">
        <a ng-click="addQuestion.close();">Cancel</a>
        <button type="submit">Save</button>
    </div>
</form>
