button {
  background-color: $colour-heading;
  height: 40px;
  padding: 0 15px;
  border: none;

  color: $colour-white;
  cursor: pointer;

  &:focus {
    outline: 1px solid $colour-highlight;
    outline-width: 1;
  }

  &+.button,
  &+a {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.button-wrapper {
  text-align: right;
  line-height: 40px;
  clear: both;

  a {
    height: 40px;
    display: inline-block;
    margin-right: 10px;

    vertical-align: middle;
  }
}

table {
  button {
    height: 20px;
    padding: 0 5px;
    margin-bottom: 5px;
  }
}
